.wrapper {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(115, 159, 255);
}

.hero-image {
  width: auto;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255) 0px 2px 8px 0px;
}
