.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(123, 123, 123);
  max-width: fit-content;
  border-radius: 10px;
  background-color: rgb(156, 171, 255);
}

.buttons{
  display: flex;
}